.fundoLogin {
    background-image: url("https: //ik.imagekit.io/lidskey/Connected%20world-amico.svg?updatedAt=1725475093377");
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}